<div class="well">
	<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h3>
		Logowanie
			<div class="input-group">
			 <hr>
			<input type="text" class="form-controll" name="login" placeholder="Podaj login..."/>
				<hr>
			<input type="password" class="form-controll" name="password" placeholder="Podaj hasło..."/>
			<hr>
			<button type="login" class="btn btn-success" ng-click="login()">Zaloguj</button>
			<form action="./#!register">
				<button class="btn btn-success" ng-click="register">Rejestracja</button>
			</form>
			</div>
		</h3>
		</div>
	</div>
</div>