<div class="well">
	<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h3>
		Logowanie
			<div class="input-group">
			 <h5>
				<input type="text" class="form-controll" name="login" placeholder="Podaj login..."/>
				<hr>
				<input type="text" class="form-controll" name="name" placeholder="Podaj swoje imię..."/>
				<hr>
				<input type="text" class="form-controll" name="surname" placeholder="Podaj swoje nazwisko" onclick="{
																													 alert('Nie, nie jest obowiązkowe, może być też Twoja ksywa, tylko pamiętaj wtedy o apostrofach')
																													 }" >
				<hr>
				<input type="email" class="form-controll" name="email" placeholder="Podaj swój email" onclick="{
							 alert('Obiecujemy nie wysyłać Ci spamu!')
								}" >
				<hr>
				<button type="submit" class="btn btn-success" ng-click="add()">Zarejestruj się!</button>
				</h5>
			</div>
		</h3>
		</div>
	</div>
</div>