<div class="well">
    <div class="row">
        <div class="col-md-12">
            <p>{{ message }}</p>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Nazwa dania" ng-model="name">
			<input type="text" class="form-control" placeholder="Produkty" ng-model="products">
			<textarea ng-model="description" name="description" class="form-control" placeholder="Opis dania"></textarea>
			<select class="form-control" ng-model="animalType">
			<option ng-repeat="country in countries" value="{{ country.id }}">{{ country.name }}</option>
			<option ng-repeat="category in categories" value="{{ category.id }}">{{ category.name }}</option>
			</select>
            <button class="btn btn-success m-t-30" type="button" ng-click="add()">Dodaj danie</button>
        </div>
    </div>
    </div>
    
</div>