<div class="well">
    <h3>{{ recipe.name }}</h3>
	<p>{{ recipe.category }}</p>
	<p>{{ recipe.country }}</p>
	
<hr>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
        	<h3>Produkty:</h3>  
			<hr>
			<ul>
				<li ng-repeat="product in products"><a href="/#!recipies/{{ recipe.products }}">{{ recipe.product }}</a></li>
			</ul>
		</div>
	</div>
	<p>Opis wykonania: </p>
    <p>{{ recipe.description }}</p>
	<p> DODAŁ </p>
</div>