<div class="well">
    <h3>{{ recipe.name }}</h3>
    <div class="row">
		<div class="col-md-6">
			<p><strong>Kategoria: </strong><a href="/#!/{{ recipe.category.id }}">{{ recipe.category.name }}</a></p>
			<p><strong>Kraj: </strong><a href="/#!/{{ recipe.country.id }}">{{ recipe.country.name</a></p>
			<p><strong>Produkty: </strong><a href="/#!/{{ recipe.products }}">{{ recipe.products }}</a></p>
        </div>
    </div>
</div>