<div class="well">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
    		<h3>Dodaj kraj</h3>
    		<hr>
			<p ng-if="message">{{ message }}</p>
			<div class="input-group">
				<input type="text" class="form-control" ng-model="name" placeholder="Podaj nazwę..."/>
				<textarea ng-model="description" name="description" class="form-control" placeholder="Opis kraju..."></textarea>
				<hr>
				<button type="submit" class="btn btn-success" ng-click="add()">Dodaj</button>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
        	<h3>Kraje</h3>  
			<hr>
			<ul>
				<li ng-repeat="countries in countries"><a href="/#!countries/{{ countries.id }}">{{ countries.name }}</a></li>
			</ul>
		</div>
    </div>
</div>