<div class="well">
    <div class="row">
        <div class="col-md-12">
            <p>{{ message }}</p>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Podaj nazwę zwierzęcia" ng-model="name">
			<input type="text" class="form-control" placeholder="Obrazek ze zwierzęciem" ng-model="image">
				<textarea ng-model="description" name="description" class="form-control" placeholder="Opis zwierzęcia..."></textarea>
			<select class="form-control" ng-model="animalType">
			<option ng-repeat="animalType in species" value="{{ animalType.id }}">{{ animalType.name }}</option>
			</select>
            <button class="btn btn-success m-t-30" type="button" ng-click="add()">Dodaj zwierzę</button>
        </div>
    </div>
    </div>
    
</div>