<div class="well">
    <h3>Zwierzaczki ^^</h3>
    <ul>
		<li ng-repeat="animal in animals">
			<a href="/#!show/{{ animal.id }}">{{ animal.name }}</a>
			<a href="/#!edit/{{ animal.id }}"> Edytuj </a>
			<a href="/#!delete/{{ animal.id }}"> Usuń </a>
		</li>
    </ul>
</div>